<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ISC | Informatics Study Club</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <script src="./assets/js/index.js"></script>
    <link rel="stylesheet" href="./assets/css/index.css" />
    <link
      rel="shortcut icon"
      href="./assets/img/icon/isc192.png"
      type="image/x-icon"
    />
    <!-- CDN Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- CDN Swiper CSS -->
    <link
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
      rel="stylesheet"
    />
    <!-- CDN Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  </head>
  <body class="bg-gray-100">
    <!-- Header Section -->
    <header class="bg-blue-600 text-white py-4 text-center">
      <h1 class="text-4xl font-bold">Informatics Competition Gallery</h1>
    </header>
    <img
      loading="lazy"
      src="../assets/img/kegiatan/InformaticsCompetition/IC Banner.png"
      alt="IC Banner"
      class="w-full"
    />

    <!-- Kegiatan Section -->

    <!-- Highlights Section -->
    <section class="container mx-auto px-4 py-6">
      <div class="text-center mb-8">
        <h2 class="text-3xl font-bold text-blue-600 mb-4">Highlights</h2>
        <p class="text-lg text-gray-700 max-w-2xl mx-auto">
          Simak video highlights dari Informatics Competition, mulai dari
          pembukaan kompetisi hingga akhir babak.
        </p>
      </div>

      <!-- Video Grid -->
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
        <!-- Video 1 -->
        <div class="relative">
          <div
            class="absolute inset-x-0 top-0 bg-black bg-opacity-30 text-white text-lg font-bold text-center py-2 rounded-t-lg z-10"
          >
            Highlights Pembukaan
          </div>
          <video
            controls
            class="w-full h-full object-cover rounded-lg shadow-md"
          >
            <source
              src="../assets/video/kegiatan/InformaticsCompetition/pembukaan.mp4"
              type="video/mp4"
            />
            Your browser does not support the video tag.
          </video>
        </div>

        <!-- Video 2 -->
        <div class="relative">
          <div
            class="absolute inset-x-0 top-0 bg-black bg-opacity-30 text-white text-lg font-bold text-center py-2 rounded-t-lg z-10"
          >
            Highlights Babak 1
          </div>
          <video
            controls
            class="w-full h-full object-cover rounded-lg shadow-md"
          >
            <source
              src="../assets/video/kegiatan/InformaticsCompetition/babak 1.mp4"
              type="video/mp4"
            />
            Your browser does not support the video tag.
          </video>
        </div>

        <!-- Video 3 -->
        <div class="relative">
          <div
            class="absolute inset-x-0 top-0 bg-black bg-opacity-30 text-white text-lg font-bold text-center py-2 rounded-t-lg z-10"
          >
            Highlights Babak 2
          </div>
          <video
            controls
            class="w-full h-full object-cover rounded-lg shadow-md"
          >
            <source
              src="../assets/video/kegiatan/InformaticsCompetition/babak 2.mp4"
              type="video/mp4"
            />
            Your browser does not support the video tag.
          </video>
        </div>

        <!-- Video 4 -->
        <div class="relative">
          <div
            class="absolute inset-x-0 top-0 bg-black bg-opacity-30 text-white text-lg font-bold text-center py-2 rounded-t-lg z-10"
          >
            Highlights Babak 3
          </div>
          <video
            controls
            class="w-full h-full object-cover rounded-lg shadow-md"
          >
            <source
              src="../assets/video/kegiatan/InformaticsCompetition/babak 3.mp4"
              type="video/mp4"
            />
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </section>

    <!-- Winner Section -->
    <section class="container mx-auto px-4 py-6">
      <!-- Header Section -->
      <div class="text-center mb-12">
        <h1 class="text-4xl font-bold text-blue-600 mb-4">
          Pengumuman Pemenang Informatics Competition
        </h1>
        <p class="text-lg text-gray-700 max-w-2xl mx-auto">
          Selamat kepada para pemenang yang telah menunjukkan performa terbaik
          dalam Informatics Competition! Berikut adalah hasil dari kompetisi
          kami.
        </p>
      </div>

      <!-- Banner Image -->
      <div class="relative group mb-12">
        <img
          loading="lazy"
          src="../assets/img/kegiatan/InformaticsCompetition/IC Winner.png"
          alt="Banner Image"
          class="w-full h-auto object-cover rounded-lg shadow-lg"
        />
      </div>

      <!-- Gallery Grid -->
      <div class="grid grid-cols-3 gap-8">
        <!-- Juara 1 -->
        <div class="relative group">
          <img
            loading="lazy"
            src="../assets/img/kegiatan/InformaticsCompetition/juara 1.jpg"
            alt="Juara 1"
            class="w-full h-full object-cover rounded-lg shadow-md"
          />
          <div
            class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-black opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex flex-col items-center justify-end p-4 rounded-lg"
          >
            <p class="text-white text-s md:text-md lg:text-lg font-bold">
              Juara 1 - Tim NTL
            </p>
          </div>
        </div>

        <!-- Juara 2 -->
        <div class="relative group">
          <img
            loading="lazy"
            src="../assets/img/kegiatan/InformaticsCompetition/juara 2.jpg"
            alt="Juara 2"
            class="w-full h-full object-cover rounded-lg shadow-md"
          />
          <div
            class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-black opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex flex-col items-center justify-end p-4 rounded-lg"
          >
            <p class="text-white text-s md:text-md lg:text-lg font-bold">
              Juara 2 - Tim Mudatang A
            </p>
          </div>
        </div>

        <!-- Juara 3 -->
        <div class="relative group">
          <img
            loading="lazy"
            src="../assets/img/kegiatan/InformaticsCompetition/juara 3.jpg"
            alt="Juara 3"
            class="w-full h-full object-cover rounded-lg shadow-md"
          />
          <div
            class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-black opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex flex-col items-center justify-end p-4 rounded-lg"
          >
            <p class="text-white text-s md:text-md lg:text-lg font-bold">
              Juara 3 - Tim Intelektual Muda
            </p>
          </div>
        </div>

        <!-- Tambahkan Gambar Lainnya Jika Perlu -->
      </div>
    </section>

    <a
      href="../index.html"
      class="fixed bottom-4 right-4 bg-blue-600 text-white py-1 px-2 rounded-lg font-semibold hover:bg-blue-700 z-50"
    >
      <i class="fas fa-chevron-left"></i>
      <span>Back</span>
    </a>

    <!-- Footer -->
    <footer class="bg-gray-800 text-white py-4">
      <div class="container mx-auto text-center">
        <p>&copy; 2024 ISC. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
